
.container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.gitDetails {
    display: flex;
    width: 15%;
}

.artifactDetails {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.vulnerabilityBarContainer {
    width: 60%;
    height: 250px;
}

.reportInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: black;
}

.iconContainer {
    width: 100px;
    height: 100px;
}