
.sectionContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.artifactContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.detailsContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.artifactDetails {
    display: flex;
    flex: 1;
    gap: 1rem;
    align-items: center;
}

.vulnerabilityBarContainer {
    display: flex;
    flex: 0 0 250px;
}

.reportInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: black;
}

.iconContainer {
    width: 100px;
    height: 100px;
}