
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vulnerabilityBarContainer {
    height: 200px;
    width: 400px;
}

.reportInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: black;
}

.iconContainer {
    width: 100px;
    height: 100px;
}