.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.projectTitle {
    min-height: 40px;
    color: black;
    padding-left: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    overflow: hidden;
    background: #75b4e3;
}

.unknownSeverity {
    width: 40px;
}

.externalLinks{
    display: flex;
    background: #dddddd;
    gap: 5px;
    padding: 5px;
}

.iconContainer {
    width: 25px;
    height: 25px;
}

.projectName {
    align-self: flex-start;
    text-transform: capitalize;
    color: black;
    font-weight: bold;
}

.card:hover {
    transform: translateY(-3px);
}