.nomadSection {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding: 1rem;
    gap: 1rem;
}


.jobList {
    display: grid;
    grid-template-columns: 50% 50%;

    gap: 1rem;
    justify-content: center;
}

.jobCard {
    display: flex;
    flex-direction: column;

    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.03);
    overflow: hidden;
}

.cardHeader {
    text-decoration: none;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    background: #1d9467;
    align-items: center;

    .iconContainer {
        width: 100px;
    }
}



.jobName {
    color: #fff;
    font-weight: bold;
    font-size: 1.3rem;
    text-transform: capitalize;
}

.jobStatus {
    display: inline-flex;
    padding: 0.2rem 0.6rem;
    border-radius: 999px;
    font-size: 0.78rem;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #ffffff;
    background: rgb(29 147 102);
    backdrop-filter: blur(1px);
}

.serviceLinkContainer {
    text-decoration: none;
    justify-content: space-between;
    padding: 1rem;
    display: flex;
    gap: 1rem;
}

.serviceLink{
    text-decoration: underline;  /* manually add back to just the URL */
    color: inherit;
}

.externalLinks {
    display: flex;
    align-items: center;
    overflow: hidden;

    .iconContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 5px;
        width: 48px;
    }

    .iconContainer:hover {
        background: #ddd;
        cursor: pointer;
    }
}

