.container {
    padding: 1rem;
}

.projectName{
    text-transform: capitalize;
}

.sections {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.doubleSection {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.docSection {
    min-height: 500px;
    display: flex;
    flex: 1;
}

.iframe{
    display: flex;
    flex: 1;
}


